{% extends 'base.html' %}


{% block conteudo %}
    <div class="row"><!--Menu-->
        <div class="col justify-content-center d-flex">
            {% include 'menu.html' with ativo='turma'%}   
        </div>
    </div>

    <div class="row"><!--Titulo-->
        <div class="col justify-content-center d-flex">
            <h3>Dia {{dia}}</h3>
        </div>
    </div>

    

    <div class="row"><!--Tabela-->
        <div class="col">
            {% include 'core/turma/tables/table_alunos.html'  %}
        </div>
    </div>


{% endblock conteudo %}