{% extends 'base.html' %}



{% block conteudo %}

    <div class="row"><!--Menu-->
        <div class="col justify-content-center d-flex">
            {% include 'menu.html' with ativo='turma'%}   
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center d-flex">
            <h3>Rota</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id='map' style='width: 1000px; height: 500px;'></div>
            {% load js %}
            <script>
                mapboxgl.accessToken = '{{mapbox_key}}';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                    center: [{{destino.0}}, {{destino.1}}], // starting position [lng, lat]
                    zoom: 9 // starting zoom
                });

                //var marker = new mapboxgl.Marker().setLngLat([{{destino.1}},{{destino.0}}]).addTo(map)
                var directions = new MapboxDirections({
                    accessToken: mapboxgl.accessToken,
                    unit: "metric",
                    profile: "mapbox/cycling",
                    controls:{
                        inputs : false,
                        instructions: true,
                    }
                });
                function distancia_euclidiana(pt1, pt2) {
                    let v=  Math.sqrt(Math.pow(pt1[0] - pt2[0], 2) + Math.pow(pt1[1] - pt2[1], 2));
                    
                    return v;
                }
                function valor_mais_proximo(array, inicio) {
                    let mais_proximo = array[0];
                    let val = distancia_euclidiana(inicio, array[0]);
                    array.forEach((element) => {

                        let dist = distancia_euclidiana(inicio, element);
                        if (dist < val) {
                            val = dist;
                            mais_proximo = element;
                        }
                    });
                    return mais_proximo;
                }
                map.on("load", function () {
                    map.addControl(new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                        trackUserLocation: true
                    }));
                    var out = {{locais | js}};

                    var origem = {{local_motorista | js}};
                    var destino = {{destino | js}};
                    
                    let lista = [...out];

                    directions.setOrigin(origem);

                    let i = 0;
                    while(lista.length > 0){
                        let valor = valor_mais_proximo(lista, {{local_motorista}});
                        let index = lista.indexOf(valor);
                        
                        directions.addWaypoint(i, valor);
                        if(index != -1){
                            lista.splice(index, 1);
                        }
                        i++;
                    }

                   new mapboxgl.Marker().setLngLat([origem[0], origem[1]]).addTo(map);
                    //new mapboxgl.Marker().setLngLat([ {{origem.0}}, {{origem.1}} ]).addTo(map);

                    new mapboxgl.Marker().setLngLat([destino[0], destino[1]]).addTo(map);
                    directions.setDestination(destino);

                    out.forEach((element) => {
                        new mapboxgl.Marker().setLngLat([element[0],element[1]]).addTo(map)
                    });
                    map.addControl(directions, "top-left");
                })//-21.252427045133373,-43.78304895814793
                
            </script>
        </div>
    </div>

{% endblock conteudo %}