{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
{% endblock extra_head %}

{% block conteudo %}
    {% load bootstrap %}

    <div class="row"><!--Menu-->
        <div class="col-sm-12 justify-content-center d-flex">
            {% include 'menu.html' with ativo='turma'%}   
        </div>
    </div>

    <div class="row"><!--titulo-->
        <div class="col justify-content-center d-flex">
            <h3>Gerenciar {{turma.motorista.username}}</h3>
            
        </div>
    </div>

    <div class="row"><!--Link para ver a rota geral-->
        <div class="col-sm-12 justify-content-center d-flex">
            <h4><a href="{% url 'core_rota_todos' turma.id %}">Ver a rota geral</a></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 justify-content-center d-flex">
            <div class="tamanhoP">
                {% if sucesso == True %}
                    <p class="center p-3 mb-2 bg-success text-white">Aluno adicionado a turma com sucesso a turma</p>
                {% elif sucesso  == False %}
                    <p class="center p-3 mb-2 bg-danger text-white">Erro ao adicionar aluno na turma</p>
                {% endif %}
                
            
            </div>
        </div>
    </div>

    <div class="row"><!--Formulario-->
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="formulario" style="width:350px;">
                <div class="titulo">
                    Insira um novo usuario pelo nome dele
                </div>

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="conteudo">
                        {{form|bootstrap}}
                        <input type="submit" value="Adicionar aluno" class="btn btn-success">
                    </div>
                    
                </form>
            </div>
            
        </div>
    </div>

    <div class="row"><!--tabela-->
        <div class="col-sm-12">
            <table class='table text-center'>
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Apagar</td>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                        <tr>
                            <td>
                                {{aluno.username}}
                            </td>

                            <td>
                            <form action="{% url 'core_apagar_aluno' turma.id aluno.id%}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Apagar">
                            </form>
                            
                            
                           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock conteudo %}