{% extends 'base.html' %}





{% block titulo %}
    Gerenciar turma dia
{% endblock titulo %}

{% block conteudo %}
    <div class="row"><!--Menu-->
        <div class="col justify-content-center d-flex">
            {% include 'menu.html' with ativo='turma'%}   
        </div>
    </div>

    <div class="row"><!--Titulo-->
        <div class="col justify-content-center d-flex">
            <h3>Dia {{dia}}</h3>
        </div>
    </div>

    <div class="row"><!--formulatio-->
        <div class="col justify-content-center d-flex">
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Arquivar">
            </form>
        </div>
    </div>

    <div class="row"><!--Tabela-->
        <div class="col">
            {% include 'core/turma/tables/gerenciar_turma_dia_table.html'  %}
        </div>
    </div>


{% endblock conteudo %}