{% extends 'base.html' %}


{% block conteudo %}
    <div class="row"><!--Menu-->
        <div class="col justify-content-center d-flex">
            {% include 'menu.html' with ativo='turma'%}   
        </div>
    </div>

    <div class="row"><!--Titulo-->
        <div class="col justify-content-center d-flex">
            <h3>Gerenciar dia </h3>
        </div>
    </div>

    <div class="row"><!--formulario-->
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Criar">
            </form>
        </div>
    </div>

    <div class="row"><!--Tabela-->
        <div class="col justify-content-center d-flex">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>gerenciar</th>
                        <th>Rota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dia in dias %}
                        <tr>
                            <td>{{dia.data}}</td>
                            
                            <td><a href={% url 'core_gerenciar_dia' dia.id %}>gerenciar</a></td>
                             <td>
                                <a href={% url 'core_turma_dia_rota' dia.id %}>Ver rota</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock conteudo %}