{% extends 'base.html' %}



{% block conteudo %}
    <div class="row"><!--Titulo-->
        <div class="col justify-content-center d-flex">
            <h3>Deseja mesmo apagar a turma {{turma}}</h3>
        </div>
    </div>

    <div class="row"><!--form-->
        <div class="col justify-content-center d-flex">
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Deletar">
            </form>
        </div>
    </div>

{% endblock conteudo %}