{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock extra_head %}

{% block titulo %}
    Turma lista
{% endblock titulo %}


{% block conteudo %}
    {% load bootstrap %}

    <div class="row"><!--Menu-->
        <div class="col-sm-12 justify-content-center d-flex">
            {% include 'menu.html' with ativo='turma'%}
        </div>
    </div>

    <div class="row">
        

        
        <div class="col-sm-12 justify-content-center d-flex">
            <a href={% url 'core_turma_cadastrar' %} class="btn btn-primary">Cadastrar </a>
        </div>
    </div>

    <div class="row"><!--tabela-->
        <div class="col-sm-12 justify-content-center d-flex">

            
            <table class="text-center table table-dark table-striped table-bordered table-hover tabela">
                <thead>
                    <tr>
                        <th>motorista</th>
                        <th>nome</th>
                        <th>gerenciar</th>
                        <th>dias</th>
                        <th>dias arquivados</th>
                        <th>apagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turma in turmas %}
                        <tr>
                            <td>{{turma.motorista.username}}</td>
                            <td>{{turma.nome}}</td>
                            <td><a href={% url 'core_gerenciar_turma' turma.id %}>Gerenciar</a></td>
                            <td><a href={% url 'core_lista_dias' turma.id %}>Dias</a></td>
                            <td><a href={% url 'core_aluno_dia_arquivado_lista' turma.id %}>Dias arquivados</a></td>
                            <td><a href={% url 'core_apagar_turma' turma.id %}>Apagar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
           

            <div class="table_mobile">
                {% for turma in turmas %}
                    <dl>
                        <dt>
                            <td>{{turma.motorista.username}}</td>
                        </dt>
                        <dd>
                            <td>{{turma.nome}}</td>
                        </dd>
                        
                        <dd>
                            <td><a href={% url 'core_gerenciar_turma' turma.id %}>Gerenciar</a></td>

                        </dd>

                        <dd>
                            <td><a href={% url 'core_lista_dias' turma.id %}>Dias</a></td>
                        
                        </dd>
                        
                        <dd>
                            <td><a href={% url 'core_aluno_dia_arquivado_lista' turma.id %}>Dias arquivados</a></td>
                        </dd>

                        <dd>
                            <td><a href={% url 'core_apagar_turma' turma.id %}>Apagar</a></td>

                        </dd>
                    </dl>
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock conteudo %}