

.tabela{
    width: 100%;
}



.tabela_mobile {
}





dl, dd, dt{
    margin:0;
    text-align: center;
}
.table_mobile{
    display: none;
    width:100%;
    border-spacing:5px 5px;
    color: white;
    

    border-collapse:collapse
}

.table_mobile dl{    
    display:table-row; 
    border: 1px solid rgb(141, 138, 138);
    background-color: #454d55;
}

.table_mobile dl:nth-child(odd){
    background-color: #454d55;
}

.table_mobile dl:nth-child(even){
    background-color: #343a40;
}


.table_mobile dt{
    border:1px solid rgb(71, 70, 70);
}

.table_mobile dt, .table_mobile dd{
    display: table-cell;
   
   
}

@media screen and (max-width:800px){
    .table_mobile{
        display: table;
    }

    .table_mobile dd, .table_mobile dt{
        display: block;
        width:100%;
    }

    .tabela{
        display: none;
    }
}