

    
<table class="table text-center">
    <thead>
        <th>Nome</th>
        <th>vai</th>
        <th>volta</th>
        <th>Esta na ida</th>
        <th>Esta na volta</th>
        <th>Gerenciar menor</th>
    </thead>
    <tbody>
        {% for aluno in alunos %}
            <tr>
                <td>
                    {{aluno.usuario.username}}
                </td>
                <td>
                    {% if aluno.vai %}
                        Vai
                    {% else %}
                        Não vai
                    {% endif %}
                </td>
                <td>
                    {% if aluno.volta %}
                        Volta
                    {% else %}
                        Não volta
                    {% endif %}
                </td>
                <td>
                    {% if aluno.esta_na_ida %}
                        Esta
                    {% else %}
                        Não esta
                    {% endif %}
                </td>
                <td>
                    {% if aluno.esta_na_volta %}
                        Esta
                    {% else %}
                        Não esta
                    {% endif %}
                </td>
                <td>
                    
                    {% if aluno.menor_de_idade %}
                        <a href={% url 'core_turma_dia_gerenciar' dia.id  aluno.id %}>Gerenciar</a>
                    {% endif %}
                        
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>