{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
{% endblock extra_head %}

{% block conteudo %}
    {% load bootstrap %}
   
    <div class="row" style="margin-top:100px;">
        <div class="col-sm-12 justify-content-center d-flex">
            <div class="formulario tamanhoP">
                <div class="titulo">
                    <h3>Login</h3>
                </div>
                
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="conteudo">
                        {{form|bootstrap }}
                        <input type="submit" value="Logar" class="btn btn-primary">
                    </div>
                    
                </form>
                <div class="center">
                    <a href={% url 'user:user_register' %}>Registrar</a>
                </div>
                <div class="center">
                    <a href={% url 'password_reset' %}>Esqueci a senha</a>
                </div>
                
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 justify-content-center d-flex">
            <div class="tamanhoP">
                {% if sucesso == False %}
                    <p class="center p-3 mb-2 bg-danger text-white">Login não existe</p>
                {% endif %}
                
            
            </div>
        </div>
    </div>
    
    
    
{% endblock conteudo %}