{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
{% endblock extra_head %}

{% block conteudo %}
    
    {% load mapbox_location_field_tags %}
    {% location_field_includes %}
    {% include_jquery %}
    {% load bootstrap %}
    <div class="row  mt-5">
        <div class="col justify-content-center d-flex">
            <h3>Registrar</h3>
        </div>
    </div>
    <div class="row mt-4 mb-5"><!--form-->
        <div class="col justify-content-center d-flex">
            <div class="formulario tamanhoG">
                <form action="" method="post">
                {% csrf_token %}
                <div class="conteudo">
                    {{form|bootstrap}}
                    <input type="submit" value="Criar">
                </div>
                
                </form>
            </div>
            
            {{ form.media }}
        </div>
    </div>

   
    
{% endblock conteudo %}