{% extends 'base.html' %}


{% block conteudo %}
    <div class="row">
        <div class="col-sm-12 justify-content-center d-flex mt-3">
            <h3>{{message}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 justify-content-center d-flex mt-5">
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Confirmar">
            </form>
        </div>
    </div>

{% endblock conteudo %}