{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
{% endblock extra_head %}

{% block conteudo %}
    {% load bootstrap %}
    <div class="row">
        <div class="col-sm-12 justify-content-center d-flex" style="margin-top:100px;">
            <div class="formulario" style="width:350px;">
        
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="titulo">
                        <h3>Alterar senha</h3>
                    </div>

                    <div class="conteudo">
                        {{form | bootstrap}}
                    
                    
                        <input type="submit" value="Resetar senha" class="btn btn-success">
                    </div>
                </form>
            </div>
        
        
        </div>
    </div>
    
    
{% endblock conteudo %}