{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/caixa_mensagem.css' %}">
{% endblock extra_head %}


{% block conteudo %}
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-start">
            <h4><a href={% url 'user:user_login' %}>Voltar</a></h4>
        </div>

        <div class="col-sm-12 d-flex justify-content-center">
            <div class="caixa_mensagem">
                <div class="mensagem">
                    <h3>Senha atualizada com sucesso</h3>

                </div>
            </div>
            
        </div>

        
    </div>

{% endblock conteudo %}